# file: ~/.gitignore_global
.DS_Store
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
./__pycache__/
./*/__pycache__/
*.py[cod]
*$py.class

#Environments

.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/